*{
	margin: 0;
	padding: 0;
	text-decoration: none;
}
body{
}
#aboutme{
	font-family: sans-serif;
}

.menu-bar1{
	background: #11B674;
	text-align: right;
	border: 20px;
	opacity:.8;
	border-bottom: 1px solid black;
} 
.menu-bar1 ul{
	display: inline-flex;
	list-style: none;

}
.menu-bar1 ul li{
	width: 100px;
	margin: 10px;
	padding: 15px;
	text-align: center;
	transition: 0.4s ease;
}
.menu-bar1 ul li:last-child{
	margin-right: 30px;
}
.menu-bar1 ul li a{
	text-decoration: none;
	color: black; 
}
.active1, .menu-bar1 ul li:hover{
	background: #fff;
	border-radius: 3px;
}
.sub-menu{
	display: none;
}
.menu-bar1 ul li:hover .sub-menu{
	display: block;
	position: absolute;
	background: white;
	margin-top: 15px;
	margin-left: -15px;
}
.menu-bar1 ul li:hover .sub-menu ul{
	display: block;
	margin: 10px;
}
.menu-bar1 ul li:hover .sub-menu ul li{
	width: 150px;
	padding: 10px;
	border-bottom: 1px dotted #000;
	background: transparent;
	border-radius: 0;
	text-align: left;
}
.menu-bar1 ul li:hover .sub-menu ul li:last-child{
	border-bottom: none;
}
.menu-bar1 ul li:hover .sub-menu ul li a:hover{
	color: #2bab0d;
	border-radius: 3px;
}
.leftmenu{
	float: left;
	margin-left: 20px;
	margin-top: 10px;

}

#AboutAside{
	height: 100vh;
	width: 20%;
	background: #d9fff1;
	position: absolute;
	transition: .6s ease ;
}
#AboutArticle{
	width: 75%;
	height: 100vh;
	float: right;
	margin-top: 50px;
}
footer{
	position: fixed;
	bottom: 1px;
	padding: 20px;
	text-align: center;
	background-color: #11B674;
	color: #fff;
}
.profile{
	margin: 20px;
	border-radius: 50%;
	margin-bottom: none;
}
.info{
	margin: 20px;
}
/* ABOUT ME */

.fa {
  padding: 20px;
  font-size: 30px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}
.fa-instagram {
  background: #125688;
  color: white;
}
.middle{
	position: absolute;
}
.card{
	cursor: pointer;
	width: 340px;
	height: 480px;
	font-size:30px;
}
.front, .back{
	width: 125%;
	height: 100%;
	overflow: hidden;
	backface-visibility: hidden;
	position: absolute;
	transition: transform .6s linear;
	font-size: 30px;
	font-family: Tahoma;
}
.front{
	height: 100%;
	background: #6191eb;
	text-align: center;
}
.front{
	transform: perspective(600px) rotateY(0deg);
}
.back{
	background: #f1f1f1;
	transform: perspective(600px) rotateY(180deg);
	text-align: center;
}
.back-content{
	color:#2c3e50;
	text-align: center;
	width: 100%;
}
.card:hover > .front{
	transform: perspective(600px) rotateY(-180deg);
}
.card:hover > .back{
	transform: perspective(600px) rotateY(0deg);
}